<h2>User info</h2>

<% if @user.errors.any? %>
 <%= @user.errors.count %>errors prohibited this obj from being saved:
 <ul>
  <% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
 </ul>
<% end %>

<%= form_with model: @user do |f| %>
 <label for="inputName">Name</label>
 <br>
 <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
 <br>
 <label for="inputImage">ProfileImage</label>
 <br>
 <%= f.file_field :profile_image %>
 <br>
 <label for="inputIntroduction">Introduction</label>
 <br>
 <%= f.text_area :introduction, autofocus: true, i:"inputIntroduction"%>
 <br>
 <%= f.submit "Update User" %>
<% end %>