<div>
 <%= flash[:notice] %>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-3">
   
<%= render 'users/userinfo', user: @user %>

<%= form_with model: @book_new do |f| %>
<br>
<h2>New book</h2>
 <h4>Title</h4>
 <%= f.text_field :title %>
 <h4>Body</h4>
 <%= f.text_area :body %>
<br>
<%= f.submit 'Create Book' %>

<% end %>
  </div>

<div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
<table>
  <tr>
    <th colspan="1"></th>
    <th colspan="1"></th>
    <th colspan="2"></th>
  </tr>
  
  <tr>
   <td><%= image_tag @book.user.get_profile_image(100, 100) %></td>
   <td><%= link_to @book.title, book_path(@book.id) %></td>
   <td><%= @book.body %></td>

  <% if @book.user == current_user %>
   <td><%= link_to "Edit", edit_book_path %></td>
   <td><%= link_to "Destroy", book_path, method: :delete, "date-confirm" =>"本当に消しますか？" %></td>
  <% end %>
  </tr>
  <tr>
   <td><%= link_to @user.name, user_path(@user.id) %></td>
  </tr>

</table>

</div>
</div>
</div>
